html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}
/*Found this code snippet on stackoverflow.com submitted by the user Tominator that will set the default animation times to 0, that way all animations will not load on refresh and look buggy. Through javascript I can remove this class after a small delay after reseting to allow the animations to process properly*/
/* https://stackoverflow.com/questions/27938900/how-to-prevent-a-css-keyframe-animation-from-running-on-page-load*/
body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}
body{
    margin: 0;
}

header{
    display: flex;
    justify-content: left;
    align-items: center;
    position: sticky;
    top: 0;
    background: linear-gradient(0.10turn, orange, rgb(219, 192, 39), whitesmoke, lightblue, blue, darkblue);
    text-shadow: 1px 1px 20px black;
    overflow: hidden;
    z-index: 1000;
}
.temp, .wind, .humidity{
    display: none;
    margin-left: 2em;
    margin-right: 2em;
    white-space: pre;
}

h1{
    margin-left: 2em;
    align-items: center;
}
.five-day-header{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 28px;
    margin-top: .5em;
    margin-left: 2em;
    display: none;
}
.info{
    font-size: 16px;
}
.line{
    width: 90%;
    border-top: 2px solid rgba(167, 167, 167, 0.678);
    margin-top: 1em;
}
.invalid{
    display: none;
    font-style: italic;
    color: red;
    font-weight: bold;
    background:linear-gradient(0.25turn, rgba(182, 182, 182, 0.705), white) ;
}
.city{
    background-color: lightcoral;
    opacity: 90%;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    width: 70%;
    border-radius: 4px;
    height: 1em;
    color: whitesmoke;
    text-align: center;
    display: none;
    /* visibility: hidden; */
    cursor: pointer;
    transition: 0.2s;
}
.city:hover{
    opacity: 60%;
}
.city-container{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    align-items: center;
}
.data-container{
    margin: 4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    height: fit-content;
    width: 50%;
    outline: 2px solid rgba(0, 0, 0, 0.137);
}
.cty-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: fit-content;
}
.city-info{
    align-self: stretch;
    align-content: center;
    display: none;
}
.forecast-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 2;
}
.five-day{
align-content: center;
text-align: center;
width: fit-content;
display: none;
}
.main-container{
    display: flex;
}
.search-container{
    margin: 2em;
    /* width: 20%; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar, .search-btn, .city-container{
    margin: 1em;
    padding: 0.5em;
    border-radius: 2px;
}
.search-btn{
    outline: none;
    border: none;
    color: whitesmoke;
    width: 70%;
    font-size: 16px;
    font-weight: bolder;
    background-color: orange;
    height: 2.5em;
    transition: 0.2s;
    cursor: pointer;
}
.search-btn:hover{
    opacity: 60%;
}

.search-bar{
    border: none;
    outline: 2px solid rgba(0, 0, 0, 0.137);
    width: 70%;
    height: 1.5em;
    font-size: 16px;
}